<pages>
	<page url="https://www.t411.io/torrents/search/.*">	
		<model name="T411SearchResult">
			<field type="T411SearchTorrent" name="torrents" parser="ListField" xpath="//table[contains(@class, 'results')]/tbody" xpath_iter="tr">
				<model name="T411SearchTorrent">
					<field type="str" name="name" parser="SimpleField" xpath="td[2]/a[1]"/>
					<field type="int" name="seeders" parser="SimpleField" xpath="td[8]/text()"/>
					<field type="int" name="leechers" parser="SimpleField" xpath="td[9]/text()"/>
				</model>
			</field>
		</model>
	</page>

	<page url="http://www.t411.io/torrents/.*">
		<model name="T411TorrentInfo">
			<field type="str" name="name" parser="SimpleField" xpath="//article/div[1]" />
		</model>
	</page>

	<page url="http://www.imdb.com/title/.*">
		<model name="ImdbMovieInfo">
			<field type="str" name="title" parser="SimpleField" xpath="//span[contains(@itemprop, 'name')]" />
			<field type="Genre" name="genres" parser="ListField" xpath="//div[contains(@class, 'infobar')]" xpath_iter="a">
				<model name="Genre">
					<field type="str" name="name" parser="SimpleField" xpath="span"/>
				</model>
			</field>
		</model>
	</page>
</pages>